/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}

td {
  text-align: right;
  border: thin solid silver;
  padding: 5px;
}

td.over-budget {
  background-color: pink;
}

.amount {
  width: 110px;
}

td a {
  text-decoration: none;
}

td a:visited {
  color: black;
}

td a:hover {
  color: white;
}
